<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index">AUROSOFT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Welcome <strong>user-name</strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/change-password">Change Password</a></li>
                            <li><a class="dropdown-item" href="/index">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                <ul>
                    <Li>&nbsp;</Li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container my-5">
        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card">
                    <h4 class="card-header">User Profile</h4>
                    <div class="card-body">
                    <form th:action="@{/update-profile(id=${user.id})}" th:object="${user}" method="post"  style="max-width:400px; margin:0 auto;">
     
                        <table class="table table-bordered">

                        <tr th:each="user : ${list}">
                            <tr>
                                <td style="width:150px;">First Name:</td>                                
                                <td> <input type="text" th:field="*{fname}" class="form-control"  id="fname" placeholder="Enter First Name"></td>
                                <td style="width:150px;">Last Name:</td>
                                <td style="width:150px;"> <input type="text" th:field="*{lname}" class="form-control"  id="lname" placeholder="Enter Last Name"></td>
                            </tr>
                            <tr>
                            
                                <td style="width:150px;">Email:</td>
                                <td style="width:150px;"> <input type="email" th:field="*{email}" class="form-control"  id="email" placeholder="Enter Email"></td>
                                <td style="width:150px;">Phone:</td>
                                <td style="width:150px;"> <input type="text" th:field="*{phone}" class="form-control"  id="phone" placeholder="Enter Phone"></td>
                            </tr>
                            
                            
                        </table>
                        <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                        </form>
                        
                    </div>
                </div>

            </div>
        </div>
        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    </div>
    <div th:if="${session.msg != null}">

        <script>
             alert("[[${session.msg}]]")
         </script>
        <div th:text="${@sessionUtilityBean.removeVerificationMessageFromSession()}"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>